{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ar" class="h-100" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans 'App Name' %}</title>
    <script defer src="{% static 'js/819.2ec26ef5.js' %}"></script>
    <script defer src="{% static 'js/app.0c66f515.js' %}"></script>
    <link href="{% static 'css/819.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100 bg-light">
{% include 'partials/header.html' %}

<main>
    {% block content %}
    {% endblock %}
</main>
{% include 'partials/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
