{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="bg-white py-4">
        <h1 class="text-center text-secondary">{% trans 'Request completed' %}</h1>
    </div>
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">
                    <i class="lni lni-checkmark-circle text-muted display-1"></i>
                </h1>
                <p class="text-center mt-4">
                    {% trans 'Your purchase has been completed successfully, you will receive an email containing links To download the course you requested!' %}
                </p>
                <p class="text-center">
                    <a href="/" class="btn btn-primary">{% trans 'Homepage' %}</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
