{% extends 'base.html' %}
{% load i18n my_filter %}

{% block content %}
    <div class="container my-5">
        <section>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="swiper my-auto swiper-product">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                            src="{{ product.image.url }}"
                                            class="img-fluid"
                                            alt="..."
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name.url }}</h5>
                            <p class="card-text mt-4">
                                {{ product.short_description }}
                            </p>
                            <p class="card-text fs-4">
                                <strong class="text-success mt-3">
                                    {{ product.price|currency }}
                                </strong>
                            </p>
                            <button
                                    class="btn btn-secondary" data-url="{% url 'store.cart_add' product.id %}" onclick="cartUpdate(this)">
                                {% trans 'Add to cart' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-header p-0 bg-white">
                    <ul
                            class="nav nav-pills nav-justified"
                            id="pills-tab"
                            role="tablist"
                    >
                        <li class="nav-item" role="presentation">
                            <button
                                    class="nav-link active text-secondary"
                                    id="pills-home-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-home"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-home"
                                    aria-selected="true"
                            >
                                {% trans 'Description' %}
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                    class="nav-link text-secondary"
                                    id="pills-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-profile"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false"
                            >
                                {% trans 'Author' %}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div
                                class="tab-pane fade show active"
                                id="pills-home"
                                role="tabpanel"
                                aria-labelledby="pills-home-tab"
                        >
                            <p class="fs-6 text-muted">
                                {{ product.description }}
                            </p>
                        </div>
                        <div
                                class="tab-pane fade"
                                id="pills-profile"
                                role="tabpanel"
                                aria-labelledby="pills-contact-tab"
                        >
                            <p class="fs-6 text-muted">
                                {{ product.author.name }}
                            </p>
                            <p class="fs-6 text-muted">
                                {{ product.author.bio }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
